.main {
  margin-top: 12%;
  font-family: Arial, Helvetica, sans-serif;
}
.feature_common {
  padding: 50px 45px;
  background-color: rgb(0, 0, 0);
  color: honeydew;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.feature_card {
  /* align-items: center; */
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: auto;
}
.title {
  font-size: 3rem;
}
.description {
  margin-top: 5px;
  font-size: 1.625rem;
}
.in_image {
  display: flex;
}
@media only screen and (min-width: 550px) and (max-width: 949px),
  only screen and (min-width: 950px) and (max-width: 1449px),
  only screen and (min-width: 1450px){
  .feature_common{
      padding: 40px 45px;
  }
 
}
